body {
  background-color: rgb(25, 25, 25);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid #ffffff;
  border-radius: 5px;
  margin-top: 6em;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.move-icon {
  width: 50px;
}

.item-btn {
  display: flex;
  justify-content: center;
}

.move-button {
  background-color: transparent;
  border: 3px solid #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin:0 auto;
  cursor: pointer;
}


.game-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

.js-moves {
  margin-top: -3px;
}

.reset-score-button {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

/*Media Queries */
@media (max-width: 450px) {
  .title {
    font-size: 1.9rem;
  }

  .move-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
}