body {
  background-color: rgb(25, 25, 25);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid #ffffff;
  border-radius: 5px;
  margin-top: 6em;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.move-icon {
  width: 50px;
}

.item-btn {
  display: flex;
  justify-content: center;
}

.move-button {
  background-color: transparent;
  border: 3px solid #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin:0 auto;
  cursor: pointer;
}


.game-result {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 40px;
}

.js-moves {
  margin-right: 40px;
}

.reset-score-button {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5px;
}